<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 text-left">
                <h2>PRODUCTOS</h2>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-warning" (click)="showAdd()">Agregar</button>
            </div>

        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>SKU</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{product.productDesc}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.sku}}</td>
                    <td>
                        <button class="btn btn-info" (click)="showEdit(product.productId)" style="margin-left: 10px">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container" *ngIf="isAdd">
    <h3>{{ (isEdit) ? 'Actualizar' : 'Crear'}} Cliente</h3>
    <div style="width: 400px;">
        <form [formGroup]="productForm" #formDirective="ngForm">
            <mat-form-field class="col-md-12">
                <mat-label>Producto</mat-label>
                <input formControlName="productDesc" matInput placeholder="Producto" type="text">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>Precio</mat-label>
                <input formControlName="price" matInput placeholder="Precio" type="number">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <mat-label>SKU</mat-label>
                <input formControlName="sku" matInput placeholder="SKU" type="text">
            </mat-form-field>

            <button type="button" class="btn btn-success" (click)="save()">Guardar</button>
            <button type="button" class="btn btn-danger m-1" (click)="cancel()">Cancelar</button>
        </form>
        <!-- <form>
            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="firstName" required name="firstName">
            </div>

            <div class="form-group">
                <label for="name">Last Name</label>
                <input type="text" class="form-control" id="lastName" required name="lastName">
            </div>

            <div class="form-group">
                <label for="name">First Name</label>
                <input type="text" class="form-control" id="emailId" required name="emailId">
            </div>

            <button type="submit" class="btn btn-success">Guardar</button>
            <button type="submit" class="btn btn-danger m-1" (click)="cancel()">Cancelar</button>
        </form> -->
    </div>
</div>